<section class="portfolio">
  <div class="heading">
    <h2>Portfolio</h2>
  </div>
  <div class="portfolio_wrapper">
    <div class="portfolio_card">
      <img src="../../../assets/images/port1.jpeg" alt="" />
      <div class="text">
        <h4>The weather project 1</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port2.jpeg" alt="" />
      <div class="text">
        <h4>The weather project</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port3.jpeg" alt="" />
      <div class="text">
        <h4>The weather project</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port4.jpeg" alt="" />
      <div class="text">
        <h4>The weather project</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port1.jpeg" alt="" />
      <div class="text">
        <h4>The weather project 1</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port2.jpeg" alt="" />
      <div class="text">
        <h4>The weather project</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port3.jpeg" alt="" />
      <div class="text">
        <h4>The weather project</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
    <div class="portfolio_card">
      <img src="../../../assets/images/port4.jpeg" alt="" />
      <div class="text">
        <h4>The weather project</h4>
        <a>View Project</a>
        <p>This is a weather project created by HTML,CSS and Javascript.</p>
      </div>
    </div>
  </div>
</section>
