@import "../../../variables.scss";

.hero {
  padding: 0px 20px;
  border-bottom: 1px solid $light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  .text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    h1,
    h2 {
      max-width: 600px;
      margin: 0 0 40px 0;
    }
  }
  .image {
    border-left: 1px solid $light;
    padding-left: 40px;
    padding-top: 40px;
    width: 100%;
    min-width: 40%;
    display: flex;
    justify-content: center;
  }
  .cta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
}
