<section class="hero">
  <div class="text">
    <h1 class="display">Hello! <br />I'm Sachin.</h1>
    <h2 class="h5">
      I'm a front-end developer with experience in UI design and development and
      I'm passionate about creating intuitive and visually appealing user
      experiences.
    </h2>
    <div class="cta">
      <button class="btn btn-primary">Hire Me</button>
      <button class="btn btn-outline">Download My Resume</button>
    </div>
  </div>
  <div class="image">
    <img
      src="../../../assets/images/profile-image - Copy.png"
      alt="hero image"
    />
  </div>
</section>
