@import "../../../variables.scss";

.education {
  border-top: 1px solid $light;
  .heading {
    border-right: 1px solid $light;
    border-bottom: 1px solid $light;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: $display-font;
      margin: 0;
    }
  }
  .education-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
    .education-card {
      border: 1px solid $light;
      width: 100%;
      max-width: 1000px;
      h5 {
        margin: 0;
        padding: 20px;
        font-family: $display-font;
        border-bottom: 1px solid $light;
      }
      small {
        text-align: right;
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
      }
    }
  }
}
