<section class="skills">
  <div class="heading">
    <h2>Professional Skills</h2>
  </div>
  <div class="skill_list">
    <div class="skill">
      <span>HTML</span>
      <div class="skill_bar">
        <div style="width: 30%"></div>
      </div>
    </div>
    <div class="skill">
      <span>HTML</span>
      <div class="skill_bar">
        <div style="width: 30%"></div>
      </div>
    </div>
    <div class="skill">
      <span>HTML</span>
      <div class="skill_bar">
        <div style="width: 30%"></div>
      </div>
    </div>
    <div class="skill">
      <span>HTML</span>
      <div class="skill_bar">
        <div style="width: 80%"></div>
      </div>
    </div>
    <div class="skill">
      <span>HTML</span>
      <div class="skill_bar">
        <div style="width: 30%"></div>
      </div>
    </div>
    <div class="skill">
      <span>HTML</span>
      <div class="skill_bar">
        <div style="width: 30%"></div>
      </div>
    </div>
  </div>
</section>
