<section class="experience">
  <div class="heading">
    <h2>Experience</h2>
  </div>
  <div class="experiences">
    @for (experience of experiences;track experience.id){
    <div class="experience-card">
      <div class="left">
        <img src="{{ experience.logo }}" alt="" />
        <div class="text">
          <h6>{{ experience.role }}</h6>
          <span class="time">({{ experience.timeline }})</span>
          <span class="location">{{ experience.location }}</span>
          <a class="website" href="{{ experience.website }}">{{
            experience.website
          }}</a>
        </div>
      </div>
      <div class="right">
        <p>{{ experience.description }}</p>
        <ul>
          @for(responsibility of experience.responsibilities;track
          responsibility.id){
          <li>{{ responsibility }}</li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
</section>
